body{
	background-color: #3B3B3B;
}

h1,h2,h3{
	font-family: "Lucida Console", Monaco, monospace;
	color: white;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 20px;
}

h3{
	font-size: 12px;	
}

#output_results{
	padding: 1px;
	background-color: #858585;
	margin-right: 500px;
	margin-left: 500px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	letter-spacing:3px
}


@media only screen and (max-width : 520px) {
	#output_results{
		margin-right:50px;
		margin-left:50px;
	}
}

@media only screen and (max-width :1200px) {
	#output_results{
		margin-right:350px;
		margin-left:350px;
	}
}

@media only screen and (max-width :850px) {
	#output_results{
		margin-right:120px;
		margin-left:120px;
	}
}


#credits{
	text-align: right;
	margin-right: 10px;
}

a:link {
color: gray;
}


/*
	CSS Seven-Segment Display Demo
	http://velvetcache.org/2012/04/11/css-seven-segment-display-tutorial

	- For Darcy -

	Copyright 2012 John M. Hobbs

	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*/

#display_selector{
	margin-top: 10px;
	text-align: center;
}

.seven-segment {
	
	position: relative;
	height: 350px;
	width: 200px;
	display: inline-block;
}

.seven-segment .a {
	position: absolute;
	left: 10px;
	height: 0;
	width: 100px;
	border-top: 30px solid gray;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}
.seven-segment .a.on {
	border-top-color: #00FF00;
}

.seven-segment .b {
	position: absolute;
	left: 150px;
	top: 10px;
	height: 100px;
	width: 0;
	border-right: 30px solid gray;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}
.seven-segment .b.on {
	border-right-color: #00FF00;
}

.seven-segment .c {
	position: absolute;
	left: 150px;
	top: 180px;
	height: 100px;
	width: 0;
	border-right: 30px solid gray;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}
.seven-segment .c.on {
	border-right-color: #00FF00;
}

.seven-segment .d {
	position: absolute;
	top: 320px;
	left: 10px;
	height: 0;
	width: 100px;
	border-bottom: 30px solid gray;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}
.seven-segment .d.on {
	border-bottom-color: #00FF00;
}

.seven-segment .e {
	position: absolute;
	left: 0;
	top: 180px;
	height: 100px;
	width: 0;
	border-left: 30px solid gray;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}
.seven-segment .e.on {
	border-left-color: #00FF00;
}

.seven-segment .f {
	position: absolute;
	left: 0;
	top: 10px;
	height: 100px;
	width: 0;
	border-left: 30px solid gray;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}
.seven-segment .f.on {
	border-left-color: #00FF00;
}

.seven-segment .g {
	position: absolute;
	top: 162px;
	left: 35px;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
	transform: scale(1.4);
}
.seven-segment .g .top {
	height: 0;
	width: 80px;
	border-bottom: 15px solid gray;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
.seven-segment .g .bottom {
	height: 0;
	width: 80px;
	border-top: 15px solid gray;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
.seven-segment .g.on .top {
	border-bottom-color: #00FF00;
}
.seven-segment .g.on .bottom {
	border-top-color: #00FF00;
}
